<!DOCTYPE html>
<html>
  <head>
    <title>Room Booking System - All Bookings</title>
    {% include 'nav.html' %}
  </head>

  <body>
    <div>
      <div id="table">
        <table class="table" id="tbl">
          <thead style="background-color: #070707; color: white">
            <tr>
              <th scope="col">Booking Name</th>
              <th scope="col">Room Name</th>
              <th scope="col">User Name</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
            </tr>
          </thead>
          <tbody id="myTable" style="background-color: rgb(235, 240, 245)">
            <!-- first-row -->
            {% for row in data %}
            <tr>
              <td>{{ row["bookingid"] }}</td>
              <td>{{ row["roomname"] }}</td>
              <td>{{ row["username"] }}</td>
              <td>{{ row["starttime"] }}</td>
              <td>{{ row["endtime"] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </body>
</html>
